---
# this is the main css file
---
@charset "utf-8";

// mixins
@mixin drop-shadow($left:3px, $top:3px, $blur:8px, $spread:1px, $color:rgba(0,0,0,0.1), $inset:"") {
      -webkit-box-shadow:$left $top $blur $spread $color #{$inset};
      -moz-box-shadow:$left $top $blur $spread $color #{$inset};
      box-shadow:$left $top $blur $spread $color #{$inset};
}

@mixin card() {
  @include drop-shadow(3px, 3px, 8px, 1px, #999);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box !important;
  -moz-background-clip: padding-box !important;
  background-clip: padding-box !important;
}

@mixin mobile-portrait() {
  @media all and (max-width: 415px) {
    @content;
  }
}

@mixin mobile-landscape() {
  @media all and (max-height: 415px) and (min-width: 400px) {
    @content;
  }
}

@import 'mailchimp';
@import "font_awesome/variables";
@import "font_awesome/mixins";
@import "font_awesome/path";
@import "font_awesome/core";
@import "font_awesome/larger";
@import "font_awesome/fixed-width";
@import "font_awesome/list";
@import "font_awesome/bordered-pulled";
@import "font_awesome/animated";
@import "font_awesome/rotated-flipped";
@import "font_awesome/stacked";
@import "font_awesome/icons";

html, body {
  padding: 0;
  margin: 0;

  &.artwork-page {
    height: 100%;
    width: 100%;
  }
}

.main-nav {
  width: 100%;
  background-color: white;
  color: #888;
  position: fixed;
  z-index: 1;
  @include drop-shadow();
  h1 {
    font-family: 'Ek Mukta', sans-serif;
    font-weight: lighter;
    font-size: 1.7em;
    float: left;
    margin: 10px 6px;
    @include mobile-portrait() {
      font-size: 1.5em;
    }
  }

  .nav-links {
    float: right;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: small;
    color: #666;
    margin-top: 15px;
    @include mobile-portrait() {
      margin-top: 12px;
    }

    ul {
      padding: 0;
      li {
        display: block;
        float: left;
        margin: 0 6px;
      }
    }
  }

  .header {
    width: 96%;
    max-width: 768px;
    margin: 0 auto;
    overflow: auto;
  }

  &.rotate {
    @include mobile-landscape() {
      width: 28%;
      height: 100%;
      float: left;
      position: relative;
      h1 {
        display: block;
      }
      .nav-links {
        float: left;
        display: block;
        line-height: 1.5em;
        clear: both;
      }
      ul {
        float: left;
        li {
          float: none;
          line-height: 2em;
        }
      }
    }
  }

}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 60px;
  .content {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: small;
    line-height: 1.5;
    color: #666;
    margin: 10px;
    .row {
      max-width: 800px;
      margin: 0 auto;
      overflow: hidden;
    }
    .col {
      border: 0px;
      float: left;
      margin: 2%;
      width: 29%;
      padding-top: 29%;
      @include card();
      @include mobile-portrait() {
        width: 96%;
        padding-top: 96%;
      }

      @include mobile-landscape() {
        width: 46%;
        padding-top: 46%;
      }
    }
  }
}

a {
  text-decoration: none;
  color: #888;

  &:visited {
  }

  &:hover {
    color: #000;
  }
}

li {
  display: block;
}

h2 {
  font-weight: lighter;
  font-size: large;
  margin-top: 40px;
}

h3 {
  font-weight: lighter;
}

strong {
  color: #444;
  font-weight: normal;
}

.follow-archeostickers {
  overflow: auto;
  ul {
    padding-left: 0;
    li {
      float: left;
      margin: 0 20px 0 0;
    }
  }
}

.spacer {
  width: 100%;
  height: 2.5%;
}

.logo {
  width: 100%;
  max-width: 150px;
  margin-top: 15px;
  margin-bottom: -15px;
  img {
    width: 100%;
  }
}

.bottom {
  width: 100%;
  height: 10%;
  background-color: #FFF;
  text-align: center;
  color: #222;
  @include mobile-landscape() {
    height: 15%;
  }
}

.top-spacer {
  width: 100%;
  height: 15%;
  @include mobile-landscape() {
    height: 2.5%;
    width: 72%;
  }
}

.bottom-spacer {
  width: 100%;
  height: 2.5%;

  @include mobile-portrait() {
    height: 0;
  }
  @include mobile-landscape() {
    height: 0;
  }
}

.main {
  width: 100%;
  height: 85%;
  @include mobile-landscape() {
    height: 95%;
  }
}

.wall {
  width: 100%;
  height: 100%;
  @include mobile-landscape() {
    width: 72%;
    float: left;
  }
}

.frame {
  width: 100%;
  height: 87.5%;
  @include mobile-landscape() {
    height: 85%;
  }
}

.artwork {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

.nav {
  width: 100%;
  height: 85%;
  position: absolute;
  @include mobile-landscape() {
    width: 72%;
    height: 95%;
    margin-left: 25%;
  }

  a {
    opacity: 0;
    color: #999;

    &:hover {
      opacity: 1;
    }
  }
}

.nav-top {
  height: 45%;
}

%artwork-nav {
  width: 50%;
  height: 100%;
  float: left;
}

.previous-artwork {
  @extend %artwork-nav;
  text-align: left;
}

.next-artwork {
  @extend %artwork-nav;
  text-align: right;
}

p {
  &.title {
    font-family: 'Open Sans', sans-serif;
    margin: 0 10px;
    font-size: medium;
    color: #666;
  }
  &.description {
    font-family: 'Open Sans', sans-serif;
    margin: 0 10px;
    font-size: small;
    color: #999;
    @include mobile-portrait() {
      font-size: x-small;
    }
  }
}

#mc_embed_signup {
  font-family: 'Open Sans',sans-serif;
  background:#fff;
  clear:left;
  form {
    padding: 10px 0;
  }
  label {
    font-family: 'Open Sans',sans-serif;
    font-size: large;
    font-weight: lighter;
    color: #666;
  }
  input {
    &.email {
      font-size: medium;
      width: 300px;
    }
    &.button {
      width: 300px;
    }
    @include mobile-landscape() {
      &.email {
        width: 100%;
      }
      &.button {
        width: 100%;
      }
    }
  }
}
