---
layout: default
---

<body>
  <div class="row">
    {% for post in site.tags.archeostickers %}
      <a href="{{ '/' | prepend: post.url | prepend: site.baseurl }}">
        <div class="col" style="background-image: url(
          {% if post.image_thumb_url %}
            {{ post.image_thumb_url | prepend: site.baseurl }}
          {% else %}
            {{ post.image_url | prepend: site.baseurl }}
          {% endif %}
            ); background-size: cover">
        </div>
      </a>
    {% endfor %}
  </div>
</body>
