---
layout: artwork-base
---

{% for painting in site.tags.paintings %}
    {% if painting.url == page.url %}
        {% assign painting_index0 = forloop.index0 %}
        {% assign painting_index1 = forloop.index %}
    {% endif %}
{% endfor %}
{% for painting in site.tags.paintings %}
    {% if painting_index0 == forloop.index %}
        {% assign next_artwork = painting.url %}
    {% endif %}
    {% if painting_index1 == forloop.index0 %}
        {% assign prev_artwork = painting.url %}
    {% endif %}
{% endfor %}

{% for illustration in site.tags.illustrations %}
    {% if illustration.url == page.url %}
        {% assign illustration_index0 = forloop.index0 %}
        {% assign illustration_index1 = forloop.index %}
    {% endif %}
{% endfor %}
{% for illustration in site.tags.illustrations %}
    {% if illustration_index0 == forloop.index %}
        {% assign next_artwork = illustration.url %}
    {% endif %}
    {% if illustration_index1 == forloop.index0 %}
        {% assign prev_artwork = illustration.url %}
    {% endif %}
{% endfor %}

<div class="top-spacer"></div>
<div class="main">
  <div class="nav" id="nav">
    <a class="previous-artwork" href="{{ '/' | prepend: next_artwork | prepend: site.baseurl}}">
      <div class="nav-top"></div>
      <i class="fa fa-chevron-left fa-2x"></i>
    </a>
    <a class="next-artwork" href="{{ '/' | prepend: prev_artwork | prepend: site.baseurl}}">
      <div class="nav-top"></div>
      <i class="fa fa-chevron-right fa-2x"></i>
    </a>
  </div>
  <div class="wall" vocab="http://schema.org" typeof="VisualArtwork">
    <div class="frame">
      <img property="image" class="artwork" src="{{ page.image_url | prepend: site.baseurl }}" alt="{{ page.title }}, {{ page.media }}, {{ page.width }} x {{ page.height }}, {{ page.name }}, {{ page.date | date: "%Y" }}">
    </div>
    <div class="bottom-spacer"></div>
    <div class="bottom">
      <p class="title" property="name">{{ page.title }}</p>
      <p class="description">
        <!-- <span property="material">{{ page.media }}</span> on
        <span property="surface">{{page.surface }}</span>  &bull;
        <span property="width">{{ page.width }}"</span> x
        <span property="height">{{ page.height }}"</span>   &bull; -->
        <span property="source"><a href="{{ page.link }}">{{ page.source }}</a></span>
        <span property="copyrightHolder" vocab="http://schema.org" typeof="Person">
          <a href="/about" property="url">
            <span property="name">{{ page.name }} </span>
          </a>
        </span>   &bull;
        <span property="copyrightYear">{{ page.date | date: "%Y" }}</span>
      </p>
    </div>
  </div>
</div>
